src/coreimage/resources/ESRGAN_4x.pth filter=lfs diff=lfs merge=lfs -text
src/coreimage/resources/RealESRGAN_x2plus_mtg_v1.pth filter=lfs diff=lfs merge=lfs -text
src/coreimage/resources/RealESRGAN_x2.pth filter=lfs diff=lfs merge=lfs -text
